<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{{ asset('assetsBack/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ asset('assetsBack/css/sb-admin-2.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="/DataTables/datatables.css" />
    <link href="{{ asset('assetsBack/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assetsBack/css/custom-back.css')}}" rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

      {% block stylesheet %}
     
    {% endblock %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">TuniTrip<sup>Admin</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_dashboard') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_calendar_index') }}">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>Calendrier</span></a>

            </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_user_index') }}">
                    <i class="fas fa-users"></i>
                    <span>Utilisateurs</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Tables
            </div>

           

            
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_transfere_index') }}">
                    <i class="fas fa-route"></i>
                    <span>Liste Transfert</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('back_reservation_transfert_index') }}">
                    <i class="fas fa-shuttle-van"></i>
                    <span>Reservation Transfert</span>
                </a>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_voitures_index') }}">
                    <i class="fas fa-car"></i>
                    <span>Liste Voitures</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_reservation_voiture_index') }}">
                    <i class="fas fa-car-side"></i>
                    <span>Reservation Voitures</span>
                </a>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_excursion_index') }}">
                    <i class="fas fa-mountain"></i>
                    <span>Liste Excursions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_reservation_excursion_index') }}">
                    <i class="fas fa-hiking"></i>
                    <span>Reservation Excursion</span>
                </a>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider">

             <li class="nav-item">
                <a class="nav-link" href="{{ path('app_contact_message_index') }}">
                    <i class="fas fa-envelope"></i>
                    <span>Message contact</span>
                </a>
            </li>
           
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
           

            

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts (Reservations notifications) -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            {% set nbReservationsRecentes = reservationsRecentes|default([])|length %}
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span id="reservations-counter" class="badge badge-danger badge-counter" {% if nbReservationsRecentes == 0 %}style="display:none"{% endif %}>{{ nbReservationsRecentes }}</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Nouvelles réservations
                                </h6>
                                <div id="reservations-list">
                                {% for res in reservationsRecentes|default([]) %}
                                    <a class="dropdown-item d-flex align-items-center notification-reservation-item" 
                                       href="{{ path('admin_notification_open', {type: res.type, id: res.id}) }}"
                                       data-type="{{ res.type }}" 
                                       data-id="{{ res.id }}">
                                        <div class="mr-3">
                                            {% if res.type == 'voiture' %}
                                                <div class="icon-circle bg-primary">
                                                    <i class="fas fa-car text-white"></i>
                                                </div>
                                            {% elseif res.type == 'transfert' %}
                                                <div class="icon-circle bg-success">
                                                    <i class="fas fa-shuttle-van text-white"></i>
                                                </div>
                                            {% elseif res.type == 'excursion' %}
                                                <div class="icon-circle bg-warning">
                                                    <i class="fas fa-hiking text-white"></i>
                                                </div>
                                            {% else %}
                                                <div class="icon-circle bg-secondary">
                                                    <i class="fas fa-calendar-check text-white"></i>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">{{ res.created_at|date('d/m/Y H:i') }}</div>
                                            <span class="font-weight-bold">
                                                {% if res.type == 'voiture' %}
                                                    🚗 Location voiture
                                                {% elseif res.type == 'transfert' %}
                                                    🚐 Transfert
                                                {% elseif res.type == 'excursion' %}
                                                    🏔️ Excursion
                                                {% else %}
                                                    📅 Réservation
                                                {% endif %}
                                                - {{ res.prenom }} {{ res.nom }} ({{ res.prix_total }} TND)
                                            </span>
                                        </div>
                                    </a>
                                {% endfor %}
                                </div>
                                <span id="no-reservations-message" class="dropdown-item text-center small text-gray-500" {% if nbReservationsRecentes > 0 %}style="display:none"{% endif %}>Aucune nouvelle réservation</span>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>

                                <span id="messages-counter" class="badge badge-danger badge-counter" {% if unreadCount|default(0) == 0 %}style="display:none"{% endif %}>{{ unreadCount|default(0) }}</span>
                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">

                                <h6 class="dropdown-header">Message Center</h6>

                                <div id="messages-list">
                                {% for message in unreadMessages|default([]) %}
                                    <a class="dropdown-item d-flex align-items-center notification-message-item" 
                                       href="{{ path('app_contact_message_index') }}"
                                       data-message-id="{{ message.id }}">
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">{{ message.email}}</div>
                                            <div class="small text-gray-500">{{ message.sujet }} · {{ message.dateEnvoi|date('Y-m-d H:i') }}</div>
                                        </div>
                                    </a>
                                {% endfor %}
                                </div>
                                <span id="no-messages-message" class="dropdown-item text-center small text-gray-500" {% if unreadMessages|default([])|length > 0 %}style="display:none"{% endif %}>Aucun nouveau message</span>

                                <a class="dropdown-item text-center small text-gray-500" 
                                href="{{ path('app_contact_message_index') }}">
                                    Voir tous les messages
                                </a>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-lg mr-2 text-gray-600"></i>
                                <span class="d-none d-lg-inline text-gray-600 small font-weight-bold">{{ app.user ? app.user.email : 'Admin' }}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path('app_accueil') }}">
                                    <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Accueil TuniTrip
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Déconnexion
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

               <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">


        {% block body %}


        {% endblock %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('assetsBack/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ asset('assetsBack/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
   

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('assetsBack/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assetsBack/js/sb-admin-2.min.js')}}"></script>

    <!-- Page level plugins -->
    <script src="{{ asset('assetsBack/vendor/chart.js/Chart.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ asset('assetsBack/js/demo/chart-area-demo.js')}}"></script>
    <script src="{{ asset('assetsBack/js/demo/chart-pie-demo.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


    <!-- ✅ Initialisation globale DataTables -->
    <script>
        $(document).ready(function() {
            $('.datatable').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.8/i18n/fr-FR.json'
                },
                pageLength: 10,
                lengthMenu: [5, 10, 25, 50],
                order: [[0, 'desc']],
                stateSave: true // ✅ Sauvegarde le nombre de lignes, la recherche, le tri, la page, etc.
            });
        });
    </script>

    <!-- ✅ Script pour mise à jour en temps réel des notifications -->
    <script>
    $(document).ready(function() {
        // Gestion des notifications de réservations
        $(document).on('click', '.notification-reservation-item', function(e) {
            e.preventDefault();
            var $item = $(this);
            var type = $item.data('type');
            var id = $item.data('id');
            var href = $item.attr('href');
            
            // Appel AJAX pour marquer la notification comme vue
            $.ajax({
                url: '{{ path("admin_notification_mark_seen") }}',
                method: 'POST',
                data: { type: type, id: id },
                success: function() {
                    // Supprimer l'élément de la liste
                    $item.fadeOut(200, function() {
                        $(this).remove();
                        
                        // Mettre à jour le compteur
                        var $counter = $('#reservations-counter');
                        var count = parseInt($counter.text()) - 1;
                        
                        if (count <= 0) {
                            $counter.hide();
                            $('#no-reservations-message').show();
                        } else {
                            $counter.text(count);
                        }
                    });
                },
                complete: function() {
                    // Rediriger vers la page de détail
                    window.location.href = href;
                }
            });
        });

        // Gestion des notifications de messages
        $(document).on('click', '.notification-message-item', function(e) {
            e.preventDefault();
            var $item = $(this);
            var messageId = $item.data('message-id');
            var href = $item.attr('href');
            
            // Appel AJAX pour marquer le message comme lu
            $.ajax({
                url: '{{ path("admin_message_mark_read") }}',
                method: 'POST',
                data: { id: messageId },
                success: function() {
                    // Supprimer l'élément de la liste
                    $item.fadeOut(200, function() {
                        $(this).remove();
                        
                        // Mettre à jour le compteur
                        var $counter = $('#messages-counter');
                        var count = parseInt($counter.text()) - 1;
                        
                        if (count <= 0) {
                            $counter.hide();
                            $('#no-messages-message').show();
                        } else {
                            $counter.text(count);
                        }
                    });
                },
                complete: function() {
                    // Rediriger vers la page des messages
                    window.location.href = href;
                }
            });
        });
    });
    </script>

    <!-- ✅ Script de polling pour les notifications en temps réel -->
    <script>
    $(document).ready(function() {
        // Configuration du polling
        var pollingInterval = 10000; // 10 secondes
        var lastReservationsCount = parseInt($('#reservations-counter').text()) || 0;
        var lastMessagesCount = parseInt($('#messages-counter').text()) || 0;

        function getIconHtml(type) {
            switch(type) {
                case 'voiture':
                    return '<div class="icon-circle bg-primary"><i class="fas fa-car text-white"></i></div>';
                case 'transfert':
                    return '<div class="icon-circle bg-success"><i class="fas fa-shuttle-van text-white"></i></div>';
                case 'excursion':
                    return '<div class="icon-circle bg-warning"><i class="fas fa-hiking text-white"></i></div>';
                default:
                    return '<div class="icon-circle bg-secondary"><i class="fas fa-calendar-check text-white"></i></div>';
            }
        }

        function getTypeLabel(type) {
            switch(type) {
                case 'voiture': return '🚗 Location voiture';
                case 'transfert': return '🚐 Transfert';
                case 'excursion': return '🏔️ Excursion';
                default: return '📅 Réservation';
            }
        }

        function pollNotifications() {
            $.ajax({
                url: '{{ path("admin_notifications_poll") }}',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Mise à jour des compteurs de réservations
                    var $resCounter = $('#reservations-counter');
                    if (data.reservationsCount > 0) {
                        $resCounter.text(data.reservationsCount).show();
                        $('#no-reservations-message').hide();
                        
                        // Notification sonore si nouveau
                        if (data.reservationsCount > lastReservationsCount) {
                            playNotificationSound();
                            showToast('🔔 Nouvelle réservation reçue!', 'success');
                        }
                    } else {
                        $resCounter.hide();
                        $('#no-reservations-message').show();
                    }
                    lastReservationsCount = data.reservationsCount;

                    // Mise à jour de la liste des réservations
                    var $resList = $('#reservations-list');
                    $resList.empty();
                    data.reservations.forEach(function(res) {
                        var itemHtml = `
                            <a class="dropdown-item d-flex align-items-center notification-reservation-item" 
                               href="{{ path('admin_notification_open', {type: 'PLACEHOLDER_TYPE', id: 0}) }}"
                               data-type="${res.type}" 
                               data-id="${res.id}">
                                <div class="mr-3">
                                    ${getIconHtml(res.type)}
                                </div>
                                <div>
                                    <div class="small text-gray-500">${res.created_at}</div>
                                    <span class="font-weight-bold">
                                        ${getTypeLabel(res.type)} - ${res.prenom} ${res.nom} (${res.prix_total} TND)
                                    </span>
                                </div>
                            </a>
                        `;
                        // Fix the href
                        itemHtml = itemHtml.replace('PLACEHOLDER_TYPE', res.type).replace('id: 0', 'id: ' + res.id);
                        $resList.append(itemHtml);
                    });

                    // Correction des hrefs après insertion
                    $resList.find('.notification-reservation-item').each(function() {
                        var type = $(this).data('type');
                        var id = $(this).data('id');
                        $(this).attr('href', '/admin/dashboard/notification/' + type + '/' + id);
                    });

                    // Mise à jour des compteurs de messages
                    var $msgCounter = $('#messages-counter');
                    if (data.messagesCount > 0) {
                        $msgCounter.text(data.messagesCount).show();
                        $('#no-messages-message').hide();
                        
                        // Notification sonore si nouveau
                        if (data.messagesCount > lastMessagesCount) {
                            playNotificationSound();
                            showToast('📧 Nouveau message reçu!', 'info');
                        }
                    } else {
                        $msgCounter.hide();
                        $('#no-messages-message').show();
                    }
                    lastMessagesCount = data.messagesCount;

                    // Mise à jour de la liste des messages
                    var $msgList = $('#messages-list');
                    $msgList.empty();
                    data.messages.forEach(function(msg) {
                        var itemHtml = `
                            <a class="dropdown-item d-flex align-items-center notification-message-item" 
                               href="{{ path('app_contact_message_index') }}"
                               data-message-id="${msg.id}">
                                <div class="font-weight-bold">
                                    <div class="text-truncate">${msg.email}</div>
                                    <div class="small text-gray-500">${msg.sujet} · ${msg.dateEnvoi}</div>
                                </div>
                            </a>
                        `;
                        $msgList.append(itemHtml);
                    });
                },
                error: function(xhr, status, error) {
                    console.log('Polling error:', error);
                }
            });
        }

        // Fonction pour jouer un son de notification
        function playNotificationSound() {
            try {
                var audio = new Audio('data:audio/wav;base64,UklGRl9vT19XQVZFZm10IBAAAAABAAEAQB8AAEAfAAABAAgAZGF0YU' + 
                    'AAAAAAAAAAGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgAAAAAAAAA');
                audio.volume = 0.3;
                audio.play().catch(function(){});
            } catch(e) {}
        }

        // Fonction pour afficher un toast
        function showToast(message, type) {
            var bgColor = type === 'success' ? '#28a745' : '#17a2b8';
            var $toast = $('<div class="notification-toast">' + message + '</div>');
            $toast.css({
                'position': 'fixed',
                'top': '80px',
                'right': '20px',
                'background': bgColor,
                'color': 'white',
                'padding': '15px 25px',
                'border-radius': '8px',
                'box-shadow': '0 4px 12px rgba(0,0,0,0.3)',
                'z-index': '9999',
                'font-weight': 'bold',
                'animation': 'slideIn 0.3s ease-out'
            });
            $('body').append($toast);
            
            setTimeout(function() {
                $toast.fadeOut(300, function() { $(this).remove(); });
            }, 5000);
        }

        // Ajouter les styles d'animation
        $('<style>')
            .text('@keyframes slideIn { from { transform: translateX(100%); opacity: 0; } to { transform: translateX(0); opacity: 1; } }')
            .appendTo('head');

        // Démarrer le polling
        setInterval(pollNotifications, pollingInterval);
        
        // Premier appel après 5 secondes (laisser le temps de charger la page)
        setTimeout(pollNotifications, 5000);
    });
    </script>

{% block javascripts  %}

{% endblock %}
</body>

</html>